@charset "utf-8";

/* Fonts ====================================== */

@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {font-family:"Carefree";src:url("../font/carefree.eot?") format("eot"),url("../font/carefree.woff") format("woff"),url("../font/carefree.ttf") format("truetype"),url("../font/carefree.svg#Carefree") format("svg");}

/* General ==================================== */

body {
    line-height: 1.8;
    font-size: 13px;
    font-family: Arial,Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

img {
    max-width: 100%; /* Part 1: Set a maxium relative to the parent */
    width: auto\9;   /* IE7-8 need help adjusting responsive images */
    height: auto;    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

p {
    margin: 10px 0;
}

hr {
    margin: 45px 0;
    height: 0;
    border: none;
    border-top: 1px solid #b0c9c6;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
    zoom: 1;
}

.link-external {
    padding-left: 16px;
    background: url(../img/icon-external.png) no-repeat 0 center;
}

.btn {
    display: block;
    height: 78px;
    line-height: 78px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}
.btn:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0 0 5px;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

@media screen and (max-width: 980px) {
    .btn {
        height: 46px;
        line-height: 46px;
        font-size: 16px;
    }
    .btn:after {
        width: 6px;
        height: 6px;
    }
}

.btn_alt {
    display: inline-block;
    position: relative;
    padding: 0 20px 0 66px;
    height: 58px;
    line-height: 58px;
    font-size: 19px;
    background: #fff;
    border-radius: 29px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.btn_alt:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 7px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.btn_alt--gg {
    color: #2f77f0 !important;
}
.btn_alt--gg:before {
    background: #2f77f0 url(../img/icon-gg.png) no-repeat center 10px;
}

.btn_alt--fb {
    color: #3c5899 !important;
}
.btn_alt--fb:before {
    background: #3c5899 url(../img/icon-fb.png) no-repeat center center;
}

.btn_alt--tw {
    color: #5daade !important;
}
.btn_alt--tw:before {
    background: #5daade url(../img/icon-tw.png) no-repeat center center;
}

/* #header ==================================== */

body {
    padding: 110px 0 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 10px -5px rgba(61,91,87,1);
}
#header > .inner {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
}

#header_logo {
    float: left;
    margin: 0;
    padding: 41px 0 0;
    line-height: 27px;
}
#header_logo a {
    display: block;
}
#header_logo a img {
    display: block;
    width: 319px;
    height: 27px;
}

#header_nav {
    float: right;
    margin: 0;
    padding: 32px 0 0;
    list-style: none none outside;
}
#header_nav li {
    float: left;
    margin: 0 0 0 85px;
    font-size: 14px;
    line-height: 1;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
#header_nav li.item-summary {
    margin-left: 0;
}
#header_nav li a {
    display: block;
    color: #b9d3d0;
    text-decoration: none;
}
#header_nav li a:before {
    content: " ";
    margin: 0 0 10px;
    display: block;
    width: 100%;
    height: 22px;
    background: no-repeat center top;
}
#header_nav li.active a,
#header_nav li a:hover {
    color: #0f2b36;
}
#header_nav li.active a:before,
#header_nav li a:hover:before {
    background-position: center bottom;
}
#header_nav .item-summary a:before {
    background-image: url(../img/header_nav-summary.png);
}
#header_nav .item-timetable a:before {
    background-image: url(../img/header_nav-timetable.png);
}
#header_nav .item-access a:before {
    background-image: url(../img/header_nav-access.png);
}
#header_nav .item-entry a:before {
    background-image: url(../img/header_nav-entry.png);
}

@media screen and (max-width: 980px) {
    #header {
        height: 66px;
    }
    #header_logo {
        display: none;
    }
    #header_nav {
        float: none;
        padding: 10px 0;
    }
    #header_nav li {
        margin: 0;
        width: 25%;
    }
}

/* .section =================================== */

.section {
    color: #fff;
    padding: 0 20px;
}
.section a {
    color: #0f2b36;
}
.section a:hover {
    text-decoration: none;
}

.section > .inner {
    margin: 0 auto;
    padding: 50px 0 100px;
    max-width: 960px;
}

.section > .inner > header {
    margin: 0 0 50px;
    text-align: center;
}
.section > .inner > header .sub {
    display: inline-block;
    margin: 0 0 15px;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
}
.section > .inner > header h1 {
    margin: 0;
    line-height: 1;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media screen and (max-width: 980px) {
    .section > .inner {
        padding-bottom: 50px;
    }
    .section > .inner > header h1 {
        font-size: 48px;
        letter-spacing: 3px;
    }
}

/* #main -------------------------------------- */

#main {
    height: 545px;
    background: url(../img/main_bg.jpg) repeat-x 0 center;
}
#main > .inner {
    padding: 99px 0 0;
}
#main img {
    vertical-align: bottom;
}
#main p {
    margin: 0;
}
#main .title {
    margin: 0 0 55px;
    text-align: center;
}
#main .date {
    float: left;
    padding: 0 0 0 99px;
    text-align: center;
}
#main .entry {
    float: right;
    width: 370px;
    padding: 37px 88px 0 0;
}
#main .entry .btn {
    color: #0f2b36;
    border: 1px solid #0f2b36;
    box-shadow: 0 2px 5px rgba(7,0,2,.27);
    background-image: -webkit-linear-gradient(top, #bee0dc 0%, #b2dad4 100%);
    background-image:      -o-linear-gradient(top, #bee0dc 0%, #b2dad4 100%);
    background-image:         linear-gradient(to bottom, #bee0dc 0%, #b2dad4 100%);
    background-repeat: repeat-x;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bee0dc', endColorstr='#b2dad4', GradientType=0)";
}

@media screen and (max-width: 980px) {
    #main {
        height: auto;
    }
    #main > .inner {
        padding: 20px 0;
    }
    #main .title {
        margin: 0 0 20px;
    }
    #main .date {
        float: none;
        margin: 0 30% 20px;
        padding: 0;
    }
    #main .entry {
        float: none;
        padding: 0;
        width: auto;
    }
}

/* #summary ----------------------------------- */

#summary {
    background: url(../img/bg-summary.jpg) repeat center top;
}
#summary > .inner {
    max-width: 920px;
}
#summary > .inner > header .sub {
    padding-left: 37px;
    background: url(../img/header_icon-summary.png) no-repeat 0 center;
}

#summary h2 {
    margin: 15px 0;
    font-size: 20px;
}

#summary .link-gg {
    float: left;
}
#summary .link-hn {
    float: right;
    padding: 17px 0;
}

/* #timetable --------------------------------- */

#timetable {
    background: url(../img/bg-timetable.jpg) repeat center top;
}
#timetable > .inner > header .sub {
    padding-left: 42px;
    background: url(../img/header_icon-timetable.png) no-repeat 0 center;
}

.timetable {
    margin: 0 auto;
    max-width: 890px;
}
.timetable table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    border: none;
}
.timetable th,
.timetable td {
    padding: 3px 20px;
    border: 1px solid #95b8b4;
}
.timetable th {
    width: 100px;
    font-weight: normal;
    text-align: center;
    background: #7ba8a3;
    white-space: nowrap;
}
.timetable td {
    background: #a4c2be;
}

#timetable .inner > h2 {
    margin: 50px 0 40px;
    text-align: center;
    line-height: 1;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#timetable .inner > h2 .amp {
    font-size: 35px;
}

@media screen and (max-width: 980px) {
    #timetable .inner > h2 {
        font-size: 24px;
    }
    #timetable .inner > h2 .amp {
        font-size: 14px;
    }
    .timetable th,
    .timetable td {
        padding: 3px 5px;
    }
    .timetable th {
        width: auto;
    }
}


/* #timetable > .session ---------------------- */

.session {
    margin: 40px 0 0;
    padding: 40px 0 0;
    border-radius: 5px;
    overflow: hidden;
    background: #a6c4c1;
    background: rgba(255,255,255,.15);
}
.session > header {
    margin: 0 0 30px;
    padding: 0 40px 0 135px;
    background: url(../img/icon-session.png) no-repeat 40px center;
}
.session > header .time {
    margin: 0 0 5px;
    line-height: 1.2;
    font-size: 26px;
}
.session > header h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 30px;
}

.session__desc {
    padding: 0 40px 30px;
}

.session__prof {
    position: relative;
    padding: 40px 40px 30px;
    color: #729995;
    background: #fff;
}
.session__prof:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.session__prof p {
    font-size: 12px;
}
.session__prof figure {
    float: left;
    margin: 0;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
}
.session__prof figure img {
    width: 100%;
    height: 100%;
}
.session__prof > .inner {
    margin-left: 180px;
}
.session__prof header {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    padding: 0 0 0px;
    border-bottom: 1px solid #dceae8;
}
.session__prof .name {
    float: left;
}
.session__prof h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 30px;
    font-weight: normal;
}
.session__prof h1 span {
    font-size: 15px;
}
.session__prof .role {
    margin-top: 0;
}
.session__prof .links {
    float: right;
    margin: 0;
    padding: 20px 0 0;
    list-style: none none outside;
}
.session__prof .links li {
    display: inline-block;
    margin: 0 1px 10px;
}

.prof_link {
    display: inline-block;
    padding: 4px 10px;
    color: #fff !important;
    font-size: 11px;
    text-decoration: none;
    background: no-repeat 10px center;
    border-radius: 2px;
}
.prof_link--tw {
    padding-left: 31px;
    background-color: #67b4d3;
    background-image: url(../img/prof_icon-tw.png);
}
.prof_link--gh {
    padding-left: 36px;
    background-color: #6b6b6b;
    background-image: url(../img/prof_icon-gh.png);
}
.prof_link--pb {
    padding-left: 31px;
    background-color: #0f2b36;
    background-image: url(../img/prof_icon-pb.png);
}

@media screen and (max-width: 980px) {
    .session {
        margin: 20px 0 0;
        padding: 10px 0 0;
    }
    .session > header {
        background: none !important;
        padding: 0 10px;
        margin: 0 0 10px;
    }
    .session > header .time {
        font-size: 18px;
    }
    .session > header h1 {
        font-size: 24px;
    }
    .session__desc {
        padding: 0 10px;
    }
    .session__prof {
        padding: 10px 10px 1px;
    }
    .session__prof:before {
        width: 10px;
        height: 10px;
        top: -5px;
        margin-left: -5px;
    }
    .session__prof figure {
        float: none;
        margin: 0 auto;
    }
    .session__prof > .inner {
        margin: 0;
    }
    .session__prof .name {
        float: none;
        text-align: center;
    }
    .session__prof .links {
        float: none;
        margin: 10px 0 0;
        padding: 0;
        text-align: center;
    }
}

/* #access ------------------------------------ */

#access {
    background: url(../img/bg-access.jpg) repeat center top;
}
#access > .inner > header .sub {
    padding-left: 41px;
    background: url(../img/header_icon-access.png) no-repeat 0 center;
}

.access__info {
    margin: 10px 0;
}
.access__info dt {
    margin: 0 10px 0 0;
    display: inline-block;
    background: #a5c5c1;
    border-radius: 3px;
    width: 80px;
    text-align: center;
}
.access__info dd {
    margin: 0 35px 0 0;
    display: inline;
}

.access__map {
    margin: 20px 0 0;
    border: 8px solid #fff;
    padding: 3px;
    height: 480px;
    background: #e1eeec;
    border-radius: 5px;
}
.access__map iframe {
    vertical-align: bottom;
}

@media screen and (max-width: 980px) {
    .access__info dt {
        display: block;
        margin: 20px 0 5px;
        width: auto;
    }
    .access__info dd {
        display: block;
        margin: 0;
    }
    .access__map {
        height: 240px;
    }
}

/* #entry ------------------------------------ */

#entry {
    background: url(../img/bg-entry.jpg) repeat center top;
}
#entry > .inner > header .sub {
    padding-left: 32px;
    background: url(../img/header_icon-entry.png) no-repeat 0 center;
}

.entry__btns {
    padding: 20px 30px;
    border-radius: 5px;
    background: #a6c4c1;
    background: rgba(255,255,255,.15);
}

.entry-h {
    float: left;
    width: 500px;
}
.entry-h .btn {
    color: #729995;
    border: 1px solid #0f2b36;
    box-shadow: 0 2px 5px rgba(7,0,2,.27);
    background-image: -webkit-linear-gradient(top, #14343f 0%, #0d2630 100%);
    background-image:      -o-linear-gradient(top, #14343f 0%, #0d2630 100%);
    background-image:         linear-gradient(to bottom, #14343f 0%, #0d2630 100%);
    background-repeat: repeat-x;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#14343f', endColorstr='#0d2630', GradientType=0)";
}

.entry-k {
    float: right;
    width: 380px;
}
.entry-k .btn {
    color: #729995;
    border: 1px solid #cae4e1;
    box-shadow: 0 2px 5px rgba(7,0,2,.27);
    background-image: -webkit-linear-gradient(top, #bee0dc 0%, #b2dad4 100%);
    background-image:      -o-linear-gradient(top, #bee0dc 0%, #b2dad4 100%);
    background-image:         linear-gradient(to bottom, #bee0dc 0%, #b2dad4 100%);
    background-repeat: repeat-x;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bee0dc', endColorstr='#b2dad4', GradientType=0)";
}

@media screen and (max-width: 980px) {
    .entry__btns {
        padding: 1px 10px;
    }
    .entry-h,
    .entry-k {
        float: none;
        width: auto;
    }
}

/* #thankyou --------------------------------- */

#thankyou {
    color: #729995;
    background: #ededed;
    text-align: center;
}
#thankyou > .inner {
    padding: 100px 0 40px;
}

#thankyou h1 {
    margin: 0 0 30px;
    line-height: 1;
    font-size: 70px;
    font-family: 'Carefree', serif;
    font-weight: normal;
    letter-spacing: -1px;
}
#thankyou h1 img {
    vertical-align: bottom;
}

#thankyou .lead {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: bold;
}

#thankyou .links {
    margin: 55px 0 40px;
    padding: 0;
    list-style: none none outside;
}
#thankyou .links li {
    margin: 0 7px 20px;
    display: inline-block;
}

#thankyou hr {
    margin: 60px 0;
    border-color: #d3dad9;
}

#thankyou h2 {
    margin: 0 0 30px;
    line-height: 1;
    color: #b9d3d0;
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

#thankyou .logos {
    margin: 0 0 40px;
    padding: 0;
    list-style: none none outside;
}
#thankyou .logos li {
    margin: 0 15px 20px;
    display: inline-block;
}
#thankyou .logos li img {
    vertical-align: middle;
}

/* #footer ==================================== */

#footer {
    background: #fff;
    box-shadow: 0 0 10px -5px rgba(61,91,87,1);
}
#footer > .inner {
    margin: 0 auto;
    padding: 21px 10px;
    max-width: 960px;
}

#footer address {
    float: left;
    line-height: 2.21;
    color: #b7b7b7;
    font-style: normal;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

#footer p.pagetop {
    margin: 0;
    float: right;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
#footer p.pagetop a {
    color: #729995;
    text-decoration: none;
}
#footer p.pagetop a:hover {
    color: #0f2b36;
}
#footer p.pagetop a:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 -2px 10px;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* for Retina ================================= */

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: ~"3/2"), (min-device-pixel-ratio: 1.5) {
    .link-external {
        background-image: url(../img/icon-external@2x.png);
        background-size: 11px 10px;
    }
    .btn_alt--gg:before {
        background-image: url(../img/icon-gg@2x.png);
        background-size: 32px 18px;
    }
    .btn_alt--fb:before {
        background-image: url(../img/icon-fb@2x.png);
        background-size: 13px 25px;
    }
    .btn_alt--tw:before {
        background-image: url(../img/icon-tw@2x.png);
        background-size: 23px 19px;
    }
    #header_nav .item-summary a:before {
        background-image: url(../img/header_nav-summary@2x.png);
        background-size: 22px 44px;
    }
    #header_nav .item-timetable a:before {
        background-image: url(../img/header_nav-timetable@2x.png);
        background-size: 28px 44px;
    }
    #header_nav .item-access a:before {
        background-image: url(../img/header_nav-access@2x.png);
        background-size: 26px 44px;
    }
    #header_nav .item-entry a:before {
        background-image: url(../img/header_nav-entry@2x.png);
        background-size: 22px 44px;
    }
    #summary > .inner > header .sub {
        background-image: url(../img/header_icon-summary@2x.png);
        background-size: 22px 18px;
    }
    #timetable > .inner > header .sub {
        background-image: url(../img/header_icon-timetable@2x.png);
        background-size: 28px 18px;
    }
    #access > .inner > header .sub {
        background-image: url(../img/header_icon-access@2x.png);
        background-size: 26px 18px;
    }
    #entry > .inner > header .sub {
        background-image: url(../img/header_icon-entry@2x.png);
        background-size: 21px 22px;
    }
    .session > header {
        background-image: url(../img/icon-session@2x.png);
        background-size: 67px 67px;
    }
    .prof_link--tw {
        background-image: url(../img/prof_icon-tw@2x.png);
        background-size: 14px 11px;
    }
    .prof_link--gh {
        background-image: url(../img/prof_icon-gh@2x.png);
        background-size: 16px 15px;
    }
    .prof_link--pb {
        background-image: url(../img/prof_icon-pb@2x.png);
        background-size: 11px 10px;
    }
}
