{{ partial "header.html" . }}

      <h1>HTML5NAGOYA</h1>
      <p><img src="/images/html5nagoya-image01.jpg" alt="HTML5NAGOYA - 勉強会の様子" /></p>

      <h2>概要</h2>

      <p>HTML5NAGOYA は HTML / CSS / JavaScript を始めとした Web のフロントエンドの技術全般を学び合う勉強会です。 毎回講師を呼んで座学を行うスタイルではなく、お互いがアウトプットすることで共にスキルアップしていくことを目指しています。 皆さんのアウトプットで成り立っている会です。お誘い合わせのうえご参加ください！</p>

      <h3>勉強会のコンセプト</h3>

      <ul>
        <li>新しい技術なども取り組みつつ、前からある考え方・手法も大切に</li>
        <li>自分の知ってることを、知ろうとしている人たちに、分かりやすく伝えよう</li>
      </ul>

      <h3>勉強会情報の追い方</h3>

      <p>Googleグループ（メーリングリスト）に、今後の勉強会情報を流します。 発表したい方、情報共有やディスカッションしたい方も、是非ともこちらに投稿ください。 勉強会の内容に大きく逸れない限り、イベント告知などもどんどんしていただいて構いません。</p>
      <p>どなたでもご自由にメーリングリスト（Googleグループ）に登録いただけます。 勉強会の開催情報もすべてこちらに展開されますので、ぜひともチェックしてください！</p>

      <ul>
        <li><a href="https://groups.google.com/forum/#!forum/html5nagoya/join">Googleグループ</a></li>
        <li><a href="https://www.facebook.com/html5nagoya">Facebookページ</a></li>
        <li><a href="https://twitter.com/html5nagoya">Twitter</a>
          <ul>
            <li>勉強会開催時の Twitter ハッシュタグは <a href="https://twitter.com/search?q=%23html5nagoya&src=typd">#html5nagoya</a> です</li>
          </ul>
        </li>
      </ul>

      <p>※どうしてもメールでの登録が難しい方は、<a href="https://groups.google.com/forum/feed/html5nagoya/topics/rss_v2_0.xml?num=50">RSS</a> でも情報提供されておりますのでご活用ください。</p>

      <h2>開催情報</h2>

{{- range .Data.Pages }}
      <h3>{{ .Title }}</h3>
      <ul>
        <li>イベントページ: <a href="{{ .Params.eventurl }}">{{ .Params.eventurl }}</a></li>
        <li>開催日時: {{ .Params.eventdate }}</li>
        <li>イベントテーマ: {{ delimit .Params.eventtheme ", " }}</li>
        {{- if ne .Params.eventlog "" }}<li>当日まとめ: <a href="{{ .Params.eventlog }}">{{ .Params.eventlog }}</a></li>{{- end }}
      </ul>
{{- end }}

      <h2>お問い合わせ</h2>

      <p>基本的にオープンな勉強会ですので、まずはGoogleグループ（メーリングリスト）にご参加いただき、 投稿いただければと思います。</p>

      <p>また、現時点で公開しづらい情報を含む場合は、以下のメールフォームよりお問い合わせください。 （勉強会の主催者以外には公開されません。）</p>
      <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqBoA22_NGqKU5y_HOFBeDs5V86ANB7Muh6HHF8XMInhSNWg/viewform">https://docs.google.com/forms/d/e/1FAIpQLSfqBoA22_NGqKU5y_HOFBeDs5V86ANB7Muh6HHF8XMInhSNWg/viewform</a></p>

      <ul>
        <li><a class='twitter-share-button' data-hashtags='html5nagoya' data-lang='ja' data-size='small' data-text='HTML5勉強会 名古屋' data-url='http://html5nagoya.jp' data-via='html5nagoya' href='https://twitter.com/share'>ツイート</a></li>
        <li><div class='fb-like' data-action='like' data-href='https://www.facebook.com/html5nagoya?fref=ts' data-layout='button_count' data-share='true' data-show-faces='true' data-width='700' /></li>
        <li><a href="https://groups.google.com/forum/#!forum/html5nagoya/join">GoogleGroup</a></li>
        <li><a href="https://groups.google.com/forum/feed/html5nagoya/topics/rss_v2_0.xml?num=50">RSS</a></li>
      </ul>

{{ partial "footer.html" . }}
